<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Manufacturer </th>
        <th> Model </th>
        <th> Model year </th>
    </tr>
    </thead>
    <tbody>
    </tr>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.manufacturer}"> Manufacturer </span></td>
        <td><span th:text="${car.model}"> Model </span></td>
        <td><span th:text="${car.modelYear}"> Model year </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>